[run]
source = .
omit =
    .venv/*
    tests/*
    scripts/*
    locustfile.py
    monitor_locustfile.py
    scratch.py
    analyze_audio.py
    generate_chime.py
    process_audio.py
    process_audio_v2.py
    test_mostrador.py
    test_shipping.py
    core/relacion_manager.py
    core/audit_manager.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    pass
show_missing = true
